* {
  padding: 0;
  margin: 0;
}

/* Components */

.container {
  width: 85%;
  max-width: 100rem;
  margin: auto;
}

header {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 74px;
  z-index: 51;
  position: fixed;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin: 0 28px;
  max-width: 100%;
}

/* hamburger menu */

.nav {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .toggle-btn {
  cursor: pointer;
  padding: 0.2rem;
  font-size: 1.2rem;
  border: none;
  background: none;
  transition: all 0.1s linear;
  /* display: none; */
}

.nav .toggle-btn:hover {
  font-size: 1.4rem;
}

.hide-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  /* border: 1px solid red; */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  left: -100%;
  transition: all 0.5s ease;
}

.show-menu {
  left: 0;
}

.menu-btn {
  margin-bottom: 1rem;
}

@media screen and (min-width: 881px) {
  .nav {
    width: auto;
  }
  .nav .toggle-btn {
    display: none;
  }
  .show-menu {
    display: none;
  }
}

/* end of the section */

header .div1 {
  /* margin-left: -300px; */
}

header .div1 button {
  /* margin-right: 46px; */
}

header .div1 .btn,
.btn {
  background-color: white;
  padding: 10px;
  border-color: white;
  border-style: solid;
  font-size: medium;
  transition: border-top-color 0.2s, border-bottom-color 0.2s;
  cursor: pointer;
  text-transform: capitalize;
}

header .div1 .btn:hover,
.btn:hover {
  border-top-color: #1d0e6a;
  border-bottom-color: #1d0e6a;
  border-top-width: 3px;
  border-bottom-width: 3px;
}

header .div1 .anth_btn,
.anth_btn {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  gap: 10px;
  width: 86px;
  height: 45px;
  background: #1d0e6a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  order: 0;
  flex-grow: 0;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

#section1 {
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: lightblue;
}

#section1 .div2 h1 {
  max-width: 990px;
  min-height: 120px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 60px;
  text-align: center;
  color: white;
  margin-top: 210px;
}

#section1 .div2 {
  width: 100%;
  height: inherit;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/pic3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#section1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1 .div2 p {
  max-width: 864px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

#section1 .div2 a {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 22px;
  margin-top: 30px;
  transition: text-decoration 0.3s;
}

#section1 .div2 a:hover {
  text-decoration: underline;
}

#section1 .div2 svg {
  height: 51.66666793823242px;
  width: 51.66666793823242px;
  left: 5.1666717529296875px;
  top: 5.166664123535156px;
  border-radius: 0px;
}

#section2 {
  padding: 9rem 0;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  height: 500px;
}

.main3 {
  height: 800px !important;
}

.div3,
.div6 {
  width: 100%;
  position: relative;
}

#section2 .div3 .img1,
#section2 .div3 .img2,
#section2 .div3 .img3 {
  position: absolute;
  bottom: 0;
}

#section2 .div3 .img1 {
  bottom: -50px;
  left: 0;
  width: 36%;
  height: auto;
  image-rendering: crisp-edges;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

#section2 .div3 .img2 {
  left: 250px;
  width: 36%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

#section2 .div3 .img3 {
  bottom: -220px;
  left: 150px;
  width: 36%;
  height: auto;
  background: url(DSC_7627.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  z-index: 10;
}

/* iMAGE PANEL 2 */

.div6 {
  position: relative;
  margin-top: 0;
  margin: auto;
}

#section2 .div6 .img4,
#section2 .div6 .img5,
#section2 .div6 .img6 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#section2 .div6 .img4 {
  width: 32%;
  height: auto;
  right: 29%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  z-index: 20;
}

#section2 .div6 .img5 {
  width: 32%;
  height: auto;
  bottom: 43px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

#section2 .div6 .img6 {
  width: 32%;
  height: auto;
  top: -50px;
  right: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

#section2 .div4 {
  width: 59%;
}

#section2 .div4 .p1 {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1d0e6a;
  margin-bottom: 30px;
}

#section2 .div4 .p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 20px;
}

.ana {
  width: 199px;
  height: 4px;
  background: #1d0e6a;
  border-radius: 26px;
}

/* #section .div5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 447px;
    height: 221px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#section3 .div5 .p3 {
    width: 337px;
    height: 100px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #1D0E6A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#section3 .div5 .p4 {
    width: 447px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#section3 .div5 .ania {
    width: 199px;
    height: 4px;
    background: #1D0E6A;
    border-radius: 26px;
    flex: none;
    order: 2;
    flex-grow: 0;
}#section .div5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 447px;
    height: 221px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#section3 .div5 .p3 {
    width: 337px;
    height: 100px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #1D0E6A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#section3 .div5 .p4 {
    width: 447px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#section3 .div5 .ania {
    width: 199px;
    height: 4px;
    background: #1D0E6A;
    border-radius: 26px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#section .div6 {
    width: 724px;
    height: 633.17px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#section .div6 {
    width: 724px;
    height: 633.17px;
    flex: none;
    order: 1;
    flex-grow: 0;
} */

#section2 {
  /* position: absolute;
    width: 100%;
    height: 802px;
    padding-top: 3px;
    left: 0px;
    top: 2553.94px;
    background: #F8F8F8; */
}

#section2 .div_d {
  display: flex;
  width: 100%;
  /* height: inherit; */
}

#section2 .div_d .div7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 469.55px;
  height: 143px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#section2 .div_d .div7 .p5 {
  width: 333px;
  height: 50px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #1d0e6a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#section2 .div_d .div7 .p6 {
  width: 447px;
  height: 69px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  flex: none;
  order: 1;
  top: -20px;
  flex-grow: 0;
}

#section2 .div_d .div8 {
  position: relative;
  width: 100%;
  height: auto;
  /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    align-items: center; */
}

#section2 .div_d .div8 .div8_1 .img7 {
  position: absolute;
  width: 331.94px;
  height: auto;
  background: linear-gradient(
    180.11deg,
    rgba(0, 0, 0, 0) 65.07%,
    rgba(0, 0, 0, 0.8) 99.9%
  );
  border-radius: 4px;
  left: 0;
  top: 0;
}

#section2 .div_d .div8 .div8_2 .img8 {
  width: 310.94px;
  height: auto;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 49.97%,
      rgba(0, 0, 0, 0.8) 99.97%
    ),
    url(DSC_7582.jpg);
  border-radius: 4px;
}

#section2 .div_d .div8 .div8_3 .img9 {
  width: 331.94px;
  height: auto;
  background: linear-gradient(
    359.05deg,
    rgba(0, 0, 0, 0.8) 0.77%,
    rgba(0, 0, 0, 0) 49.97%
  );
  border-radius: 4px;
}

#section2 .div_d .div8 .div8_1 .p8_1 {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 220px;
  left: 810px;
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#section2 .div_d .div8 .div8_2 .p8_1 {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 100px;
  left: 1180px;
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#section2 .div_d .div8 .div8_3 .p8_1 {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 450px;
  left: 1180px;
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#section2 .div_d .div8 .div8_1 .p8_2 {
  width: 135px;
  height: 46px;
  position: absolute;
  top: 270px;
  left: 820px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#section2 .div_d .div8 .div8_2 .p8_2 {
  width: 150px;
  height: 46px;
  position: absolute;
  top: 141px;
  left: 1160px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#section2 .div_d .div8 .div8_3 .p8_2 {
  width: 150px;
  height: 46px;
  position: absolute;
  top: 510px;
  left: 1180px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#section5 {
  padding: 90px 0;
}

.wrapper {
  /* width: 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section5 .div9 {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1d0e6a;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}

#section5 .div10 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* padding-bottom: 90px; */
  gap: 22px;
  /* width: 1313px; */
  /* height: 466px; */
}

#section5 .div10 > div {
  /* flex-basis: 1; */
}

#section5 .div10 .div10_1 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 0 0 50px 0;
  max-width: 400px;
  min-width: 300px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#section5 .div10 .div10_1 > div:not(:first-child) {
  margin: 0 20px;
}

#section5 .div10 .div10_1 .div10_11 {
  position: relative;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 270px;
}

#section5 .div10 .div10_1 .div10_11 img {
  max-width: 400;
  height: auto;
}

#section5 .div10 .div10_1 .div10_11 svg {
  position: absolute;
  left: 42%;
  top: 40%;
  background: rgba(0, 0, 0, 0);
}

#section .div10 .div10_1 .div10_12 {
  /* display: flex;
    flex-direction: column; */
  /* justify-content: center;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 16px; */
  /* width: 427px;
    height: 286px; */
}

#section5 .div10 .div10_1 .div10_12 > p {
  color: #121212;
  font-family: "Roboto", sans-serif;
}

#section5 .div10 .div10_1 .div10_12 .p1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

#section5 .div10 .div10_1 .div10_12 .p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

#section5 .div10 .div10_1 .div10_13 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #1d0e6a;
  border-radius: 4px;
  order: 2;
  color: white;
  margin: auto;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
}

.explore {
  margin-top: 30px;
  background: #1d0e6a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  gap: 16px;
  border-radius: 4px;
  color: whitesmoke;
  /* width: 10%; */
}

.explore button {
  background-color: transparent;
  border: none;
  color: whitesmoke;
}

#section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: #d6ccf7;
  padding: 50px 0;
}

#section7 .div12 {
  margin-bottom: 20px;
}

#section7 .div12 > p {
  text-align: center;
}

#section7 .div12 .p1 {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1d0e6a;
  margin-bottom: 8px;
}

#section7 .div12 .p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}

#section7 .div13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#section7 .div13 .div13_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 60px;
  gap: 60px;
  background: #ffffff;
  border-radius: 16px;
}

#section7 .div13 .div13_1 .div1 {
  width: 190px;
  height: 190px;
  background-color: lightcyan;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

#section7 .div13 .div13_1 .div1 img {
  display: flex;
  width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}

#section7 .div13 .div13_1 .div2 > p {
  font-family: "Roboto";
  color: #3d3d3d;
}

#section7 .div13 .div13_1 .div2 .p1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}

#section7 .div13 .div13_1 .div2 .p2 {
  max-width: 573px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

#section7 .div13 .svg1 {
  /* left: 1230px; */
}

#section7 .div14 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

footer {
  background-color: #1d0e6a;
  color: whitesmoke;
  font-family: "Libre Baskerville";
  font-style: normal;
  padding-top: 70px;
}

footer .div1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .div1 .div1-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 107px;
  /* position: absolute; */
  width: 470px;
  height: 272px;
}

footer .div1 .div1-1 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;
  width: 91px;
  height: 226px;
  font-family: "Roboto";
}

footer .div1 .div1-2 h3 {
  width: 213px;
  height: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

footer .div1 .div1-2 p {
  width: 299px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #e7e7e7;
  margin-bottom: 20px;
}

footer .div1 .div1-2 .diva input {
  background-color: #1d0e6a;
  border: 1px solid white;
  padding: 10px;
  border-radius: 9px;
  color: white;
}

footer .div1 .div1-2 .diva input::placeholder {
  color: #c7c7c7;
}

footer .div1 .div1-2 .diva input:focus {
  border: none;
}

footer .div1 .div1-2 .diva button {
  /* width: 126px;
    height: 48px; */
  padding: 14px 14px;
  margin-left: -20px;
  background: #ffffff;
  border-radius: 12px;
}

footer .div2 {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 110px;
  background: #20202d;
}

footer .div2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .div2 .div2-1 p {
  width: 258px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #f6f6f6;
}

footer .div2 .sl-div {
  /* position: absolute; */
  left: 700px;
}

footer .div2 .sl-div img {
  width: 100px;
  height: 50px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

footer .div2 .last-div {
  /* position: absolute; left: 0;
    bottom: 0px;*/
  left: 1200px;
}

footer .div2 .last-div svg {
  width: 168px;
  height: 36px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .container {
    width: 89%;
  }

  #section2 .div3 .img1 {
    bottom: -30px;
    left: 0;
    /* width: 36%; */
  }

  #section2 .div3 .img2 {
    left: 180px;
    /* width: 36%; */
  }

  #section2 .div3 .img3 {
    bottom: -140px;
    left: 150px;
    /* width: 36%; */
  }

  .main {
    height: 500px;
    height: 360px;
  }

  #section2 .div4 .p1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 16px;
  }

  #section2 .div4 .p2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 20px;
  }

  .ana {
    width: 160px;
    height: 2.3px;
    background: #1d0e6a;
    border-radius: 26px;
  }

  #section2 .div6 .img4 {
    width: 32%;
    height: auto;
    bottom: 23px;
    right: 29%;
  }

  #section2 .div4 {
    width: 67%;
  }

  #section7 .div13 .div13_1 .div2 .p1 {
    font-size: 22px;
  }

  #section7 .div13 .div13_1 .div2 .p2 {
    font-size: 15px;
  }

  #section7 .div13 .div13_1 {
    padding: 40px 30px;
    gap: 30px;
  }

  #section7 .div13 .div13_1 .div1 {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 880px) {
  .main {
    flex-direction: column;
    height: 600px;
  }

  .main.main1 {
    justify-content: flex-end;
  }

  .main.main1 .div4 {
    margin-bottom: 60px;
  }

  .main.main2 .div4 {
    margin-top: 40px;
  }

  #section2 .div3 .img1 {
    bottom: 160px;
    left: 16%;
    /* width: 36%; */
  }

  #section2 .div3 .img2 {
    bottom: 186px;
    left: 48%;
    /* width: 36%; */
  }

  #section2 .div3 .img3 {
    bottom: 20px;
    left: 35%;
    /* width: 36%; */
  }

  #section2 .div6 .img4 {
    right: 49%;
  }

  #section2 .div6 .img5 {
    bottom: 43px;
    right: 20%;
  }

  #section2 .div6 .img6 {
    top: -50px;
    right: 31%;
  }

  #section7 .div13 .div13_1 {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    gap: 24px;
  }

  #section7 .div13 .div13_1 .div1 {
    width: 100px;
    height: 100px;
  }

  #section7 .div13 .div13_1 .div2 .p1 {
    font-size: 24px;
    text-align: center;
  }

  #section7 .div13 .div13_1 .div2 .p2 {
    max-width: 573px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }

  footer .div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  footer .div1 .div1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer .div1 .div1-1 div {
    display: flex;
    flex-direction: column;
  }

  footer .div1 .div1-2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  footer .div1 .div1-2 h3,
  footer .div1 .div1-2 p {
    text-align: center;
  }

  footer .div2 .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .navbar .div1 {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 90%;
  }

  #section1 .div2 h1 {
    max-width: 990px;
    min-height: 120px;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
    color: white;
    margin-top: 100px;
  }

  .main {
    height: 500px !important;
  }

  #section2 .div4 {
    width: 100% !important;
  }

  #section2 .div3 .img1 {
    bottom: 120px;
    left: 16%;
    /* width: 36%; */
  }

  #section2 .div3 .img2 {
    bottom: 136px;
    left: 48%;
    /* width: 36%; */
  }

  #section2 .div3 .img3 {
    bottom: 30px;
    left: 35%;
    /* width: 36%; */
  }

  footer .div1 .div1-1 {
    gap: 20px;
  }
}

@media screen and (max-width: 379px) {
  #section2 .div3 .img1 {
    bottom: 100px;
    left: 16%;
    /* width: 36%; */
  }

  #section2 .div3 .img2 {
    bottom: 118px;
    left: 48%;
    /* width: 36%; */
  }

  #section2 .div3 .img3 {
    bottom: 26px;
    left: 35%;
    /* width: 36%; */
  }
}
